In [107]:
import os
import pandas as pd

submissions_path = "/Users/dongjian/work/meituan/instacart/solutions/porto/input/"
all_files = os.listdir(submissions_path)

# Read and concatenate submissions
outs = [pd.read_csv(os.path.join(submissions_path, f), index_col=0)\
        for f in all_files]
concat_df = pd.concat(outs, axis=1)
cols = list(map(lambda x: "target_" + str(x), range(len(concat_df.columns))))
concat_df.columns = cols

In [108]:
# concat_df.drop("target_1",axis=1)
concat_df.head()

    target_0  target_1  target_2  target_3  target_4  target_5  target_6
id
0   0.028746  0.025818  0.397413  0.336407  0.023685  0.030060  0.039368
1   0.027267  0.023008  0.391664  0.343028  0.024046  0.028414  0.039615
2   0.026056  0.022168  0.378311  0.272107  0.017658  0.027665  0.037616
3   0.021889  0.014779  0.257092  0.034518  0.014766  0.023948  0.022206
4   0.035203  0.032938  0.483567  0.577340  0.034534  0.033980  0.054306

In [109]:
concat_df["target"] = (concat_df.rank() / concat_df.shape[0]).apply(lambda x:x**0.02).mean(axis=1)

In [110]:
concat_df.head()

,target_0,target_1,target_2,target_3,target_4,target_5,target_6,target
id,,,,,,,,
0,0.028746,0.025818,0.397413,0.336407,0.023685,0.030060,0.039368,0.977909
1,0.027267,0.023008,0.391664,0.343028,0.024046,0.028414,0.039615,0.975781
2,0.026056,0.022168,0.378311,0.272107,0.017658,0.027665,0.037616,0.970198
3,0.021889,0.014779,0.257092,0.034518,0.014766,0.023948,0.022206,0.937697
4,0.035203,0.032938,0.483567,0.577340,0.034534,0.033980,0.054306,0.988950

In [111]:
concat_df.drop(cols, axis=1, inplace=True)

# Write the output
concat_df.to_csv("/Users/dongjian/data/kagglemix.csv")